<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>DigitalShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.woff</url-pattern>
    <url-pattern>*.eot</url-pattern>
    <url-pattern>*.map</url-pattern>
    <url-pattern>/fonts/*&quot;</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springmvc123</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc123</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>openSessionInView</filter-name>
    <filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>openSessionInView</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserPasswordServlet</display-name>
    <servlet-name>FindUserPasswordServlet</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.user.FindUserPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserPasswordServlet</servlet-name>
    <url-pattern>/FindUserPasswordServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.ds.digitalshop.Filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
    <url-pattern>/finduserbyname</url-pattern>
    <url-pattern>/CartServlet</url-pattern>
    <url-pattern>/CollectAddServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.user.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartServlet</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.cart.ClearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/ClearCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelProductReviewsServlet</display-name>
    <servlet-name>DelProductReviewsServlet</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.DelProductReviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProductReviewsServlet</servlet-name>
    <url-pattern>/DelProductReviewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails</display-name>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.product.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/ProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.Reviews.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductnameServlet</display-name>
    <servlet-name>SearchProductnameServlet</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.Reviews.SearchProductnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductnameServlet</servlet-name>
    <url-pattern>/SearchProductnameServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.naive.listener.PeopleOnlineNumber</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ProductReviewPageServlet</display-name>
    <servlet-name>ProductReviewPageServlet</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.Reviews.ProductReviewPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductReviewPageServlet</servlet-name>
    <url-pattern>/ProductReviewPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyFoavoritesServlet</display-name>
    <servlet-name>MyFoavoritesServlet</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.user.MyFoavoritesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFoavoritesServlet</servlet-name>
    <url-pattern>/MyFoavoritesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCollectServlet</display-name>
    <servlet-name>RemoveCollectServlet</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.user.RemoveCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCollectServlet</servlet-name>
    <url-pattern>/RemoveCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrderServlet</display-name>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.user.MyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/MyOrderServlet</url-pattern>
  </servlet-mapping>
 <!--  <servlet>
    <description></description>
    <display-name>Order_detail</display-name>
    <servlet-name>Order_detail</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.user.Order_detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order_detail</servlet-name>
    <url-pattern>/Order_detail</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.ds.digitalshop.servlet.product.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
</web-app>