<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
<!-- 	<util:list id="list">
		<ref bean="ps1" />
		<ref bean="ps2" />

	</util:list> -->

	<bean id="javaCourse" class="com.spring.JavaCourse">
		<property name="name" value="Java课程"></property>
	</bean>

	<bean id="ps1" class="com.spring.Profession">
		<property name="name" value="班长"></property>
	</bean>
	<bean id="ps2" class="com.spring.Profession">
		<property name="name" value="团支书"></property>
	</bean>


	<bean id="student" class="com.spring.Student"  >
		<!-- 通过property中value属性或者value子元素都可以实现向某一个属性注入值 -->
		<property name="sno" value="117333440114">
			<!-- <value>117333440114</value> -->
			<!-- <null></null>对某个属性赋值为空 -->
		</property>
		<property name="name" value="赖文卓"></property>
		<property name="age" value="21"></property>
		<!-- ref属性可以指定参考对象 ，它的值时改对象在容器中id元素对应的值 -->
		<property name="jc" ref="javaCourse"></property>
		<!-- 属性类型是List集合 -->
		<property name="ps" > <!-- ref="list" -->
			<list>
				<bean id="ps1" class="com.spring.Profession">
					<property name="name" value="班长"></property>
				</bean>
				<bean id="ps2" class="com.spring.Profession">
					<property name="name" value="团支书"></property>
				</bean>
				<!-- <ref bean="ps1"></ref>
				<ref bean="ps2"></ref> -->
			</list>
		</property>
		<!-- 属性类型是Map集合 -->
		<property name="pf">
			<map>
				<entry key="first" value-ref="ps1"></entry>
				<entry key="second" value-ref="ps2"></entry>
			</map>
		</property>
	</bean>

</beans>
