*{
	margin: 0;
	padding: 0;
}
body{
	background-color: black;
}

#header{   
	width: 499.5px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	margin: 20px auto;
	margin-bottom: 0;
	line-height: 40px;
	background-color: gold;
	/* border-radius: 10px; */
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#header p{
	text-align: center;
}
/* F5DEB3样式 */
input{
	cursor: not-allowed;
}

.iconfont{
	font-size: 29px;
	color:gray;
}

#user{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	background-color: #F5DEB3;
	margin: 0 auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#user div{
	margin-top: 28px;
	margin-left: -10px;
}
 #user li{
	list-style-type: none;
	margin-top: 20px;
	margin-left: 15px;
	font-size: 20px;
}

.input span{
	width: 32px;
	height: 35px;
	position:relative;
    left:115px;
    top: 7px;
    text-align: center;
}
.input input{
	width: 300px;
	height: 32px;
	margin-top: 10px;
	padding-left: 32px;
	border:1px solid black;
	
}

.input1 span{
	width: 32px;
	height: 35px;
	position:relative;
    left:115px;
    top: 7px;
    text-align: center;
}
.input1 input{
	width: 300px;
	height: 32px;
	margin-top: 10px;
	padding-left: 32px;
	border:1px solid black;
	
}

.input2 span{
	width: 32px;
	height: 35px;
	position:relative;
    left:115px;
    top: 7px;
    text-align: center;
}
.input2 input{
	width: 300px;
	height: 32px;
	margin-top: 10px;
	padding-left: 32px;
	border:1px solid black;
	
}

.input3 span{
	width: 32px;
	height: 35px;
	position:relative;
    left:115px;
    top: 7px;
    text-align: center;
}
.input3 input{
	width: 300px;
	height: 32px;
	margin-top: 10px;
	padding-left: 32px;
	border:1px solid black;
	
}

.input4 span{
	width: 32px;
	height: 35px;
	position:relative;
    left:115px;
    top: 7px;
    text-align: center;
}
.input4 input{
	width: 300px;
	height: 32px;
	margin-top: 10px;
	padding-left: 32px;
	border:1px solid black;
	
}

.input5 span{
	width: 32px;
	height: 35px;
	position:relative;
    left:115px;
    top: 7px;
    text-align: center;
}
.input5 input{
	width: 300px;
	height: 32px;
	margin-top: 10px;
	padding-left: 32px;
	border:1px solid black;
	
}
#user button{
	width: 120px;
	height: 35px;
	background:green;
	border: none;
	border-radius: 10px;
	float:left;
	color: white;
	font-weight: 800;
	margin-left: 193px;
	margin-top: 16px;
	cursor: pointer;
}
#user button:hover{
	background-color: #FF0000;
}
