/* index.html足球部分 */
.content-bottom {
    height: 800px;
    background: url(../images/HD_Soccer.jpg);
    position: relative;
}
.content1-bottom {
    height: 800px;
    background: url(../images/QQ图片20191111205820.jpg);
    background-size:cover;
    position: relative;
    color: brown;
}
.content2-bottom {
    height: 800px;
    background: url(../images/S4LWIKOGNCQS\)HEQYU@P}}G.png);
    background-size:cover;
    position: relative;
}
.zhuqiubg{
    width: 1200px;
    height: 200px;
    background-color: gainsboro;
    opacity: 0.3;
    border-radius: 20px;
    position: absolute;
    top: 26px;
    left: 30px;
}
.zhuqiubg1{
    width: 1200px;
    height: 200px;
    background-color: gainsboro;
    opacity: 0.9;
    border-radius: 20px;
    position: absolute;
    top: 26px;
    left: 30px;
}
.zhuqiubg2{
    width: 1200px;
    height: 200px;
    background-color: gainsboro;
    opacity: 0.9;
    border-radius: 20px;
    position: absolute;
    top: 26px;
    left: 30px;
}
.zhuqiu{
    width: 1184px;
    position: absolute;
    top: 46px;
    left: 42px;
    line-height: 22px;
}
.zhuqiu h3{
    font-size: 28px;
    margin-bottom:10px;
}
.m_1 {
    text-indent: 2em;
}
.m_2 {
    text-indent: 2em;
}
.m_3 {
    text-indent: 2em;
}