<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.mapper.RoleMapper">
	<resultMap type="role" id="RoleMap">
		<id property="roleId" column="rid" />
		<result property="roleName" column="role_name" />
		<result property="roleDesc" column="role_desc" />
		<collection property="students" ofType="student">
		<id property="id" column="id"/>
		<result property="stuNum" column="stuNum"/>
		<result property="name" column="name"/>
		</collection>
	</resultMap>

	<!-- 查询所有 -->
	<select id="findAll" resultMap="RoleMap" resultType="role">
		select st.*,r.id as rid,r.role_desc,r.role_name from role r 
        LEFT OUTER JOIN student_role sr ON r.id=sr.rid
        LEFT OUTER JOIN student st ON st.id=sr.stid

	</select>
</mapper>